/* HeroesComponent's private CSS styles */
  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 1em;
    background-color:#405061;
    line-height: 1em;
    border-radius: 4px 0 0 4px;
  }